* {
    padding: 0%;
    margin: 0%;
}

.menu-principal {
    text-align: right;
    background-color: black;
    padding: 25px;
}

.logo {
    max-width: 50px;
    max-height: 50px;
}

.menu-style1 {
    text-decoration: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.menu-style2 {
    text-decoration: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: darkgreen;
    border-radius: 3px;
}